@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Nova+Mono&family=PT+Mono&family=Quicksand:wght@500");

:root.default-theme {
  --main-color: black;
  --background-color: white;
  --accent-color: orangered;
  --accent-color-two: whitesmoke;
  --active-color: tomato;
  --active-color-two: darkslategray;
  --inactive-color: silver;
}

html {
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

body {
  height: 100vh;
  background-color: var(--background-color);
  color: var(--main-color);
  font-family: "Quicksand", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: var(--background-color);
}

h1 {
  font-size: x-large;
  margin: 5px 10px;
}

.banner {
  width: 100%;
  box-shadow: 0px 0px 15px 8px var(--inactive-color);
}

nav {
  display: flex;
  gap: 10px;
  margin: 7px 10px 10px 10px;
}

nav button {
  flex: 1;
  padding: 10px;
  border-radius: 7px;
  border: 0px;
  background-color: var(--accent-color-two);
  box-shadow: 0px 0px 15px 2px var(--inactive-color);
}

nav button.active {
  box-shadow: 0px 0px 20px 2px var(--active-color-two);
}

div#content {
  flex: 1;
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

div#heading {
  font-size: larger;
}

div.text {
  text-align: center;
  line-height: 1.8;
  margin: 10px 25px;
}

div.menu-item {
  align-self: self-start;
  margin: 10px 25px;
}

div.item-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color-two);
  font-size: large;
  border-radius: 15px;
  padding: 5px 12px;
}

div.item-name {
  color: var(--accent-color);
}

div.item-price {
  font-family: "PT Mono";
  font-size: small;
}

div.item-description {
  font-size: small;
  padding: 5px 12px;
}

div.contact-info {
  line-height: 1.8;
  align-self: self-start;
  margin: 10px 25px;
}

div.contact-info .heading {
  color: var(--accent-color);
}

.icon {
  margin: 25px 0px 35px;
}

footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: lightgray;
  padding: 5px;
}

footer a {
  color: gray;
}

/* For larger screens */
@media only screen and (min-width: 600px) {
  main {
    width: 85vw;
  }
}
