@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Nova+Mono&family=PT+Mono&family=Quicksand:wght@500");

:root {
  --springgreen: springgreen;
  --springgreen-60: rgba(0, 255, 128, 0.6);
  --chartreuse: chartreuse;
  --chartreuse-60: rgba(128, 255, 0, 0.6);
  --darkslategray: darkslategray;
  --black: black;
  --darkcyan: darkcyan;
  --cyan: cyan;
  --cyan-60: rgba(0, 255, 255, 0.6);
  --aquamarine: aquamarine;
  --aquamarine-60: rgb(127, 255, 212, 0.6);
  --gold: gold;
  --gold-60: rgba(255, 217, 0, 0.6);
  --silver: silver;
}

:root.default-theme {
  --main-color: var(--springgreen);
  --background-color-dark: var(--darkslategray);
  --background-color-light: var(--darkcyan);
  --accent-color: var(--cyan);
  --accent-color-60: var(--cyan-60);
  --main-color-60: var(--springgreen-60);
  --inactive-color: var(--silver);
}

html {
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

body {
  height: 100vh;
  background-color: var(--background-color-dark);
  color: var(--main-color);
  font-family: "Quicksand", Tahoma, Geneva, Verdana, sans-serif;
  /* text-shadow: 0px 0px 9px; */
  margin: 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: var(--background-color-light);
  margin: 10px;
}

h1 {
  margin: 5px;
}

nav {
  display: flex;
}

nav button {
  flex: 1;
  padding: 10px;
  margin: 5px;
}

main {
  padding: 5px;
  margin: 10px;
}
